* {
    margin: 0;
    padding: 0;
    box-sizing: border-box !important;
}

a {
    text-decoration: none;
}

.bg-orange {
    background-color: #e35100 !important;
}

.cl-orange {
    color: #f4711f !important;
}

.cl-dorange {
    color: #e35100 !important;
}

.bg {
    background: radial-gradient(circle at 50% 50%, #e4570a 0, #fa7c27 100%);
}

.fs-7 {
    font-size: 14px !important;
}

img {
    vertical-align: middle;
}

/* header */
header a {
    font-size: 35px;
    font-weight: 700;
}

.form-control {
    background-color: #f6f5f5;
}

header button {
    border: none;

}

.gizli {
    display: none !important;
}

.header-fix {
    width: 100%;
    z-index: 98;
    top: 0;
    position: fixed;
    display: none;
}

.dropdown-item {
    font-size: 18px !important;
}

.header-fix input {
    padding: 6px 12px;
    background-color: #f6f5f5;
    outline: none;
}

.sag,
.sol {
    width: 35%;
}

header .favorite-quantity {
    width: 20px;
    height: 20px;
    font-size: 12px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    top: -7px;
    right: -7px;
}

header .cart-quantity {
    width: 20px;
    height: 20px;
    font-size: 12px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    top: -7px;
    right: -7px;
}

/* favorites and cart*/
.favorites,
.cart,
.info,
.brands-info {
    padding: 40px 150px;
    background-color: rgba(0, 0, 0, 0.9);
    position: sticky;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    z-index: 99;
    display: none;
}

.brand-info {
    height: 250px;
    width: 99%;
    display: flex;
    align-items: center;
    padding: 20px 30px;
    box-shadow: 0 4px 36px rgba(0, 0, 0, .1);
}

.brand-img {
    width: 25% !important;
    display: flex;
    justify-content: center;
    align-items: center;
}

.brand-txt {
    font-size: 14px;
    padding: 20px;
    width: 75%;
    height: 200px;
    overflow-y: scroll;
}

.brand-txt::-webkit-scrollbar {
    display: none;
}

.brand-goods-div {
    width: 100%;
    padding-top: 24px;
}

.brand-goods {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    flex-wrap: wrap;
}

.item img {
    width: 100%;
    height: 100%;
}

.info {
    z-index: 100;
}

.alt .img {
    height: 200px;
}

.item,
.item1 {
    background-color: white;
    width: 100%;
    height: 100%;
}

.ust {
    padding: 10px 40px;
    border-bottom: 2px solid #e35100 !important;
}

.price-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 60px;
    border-top: 2px solid #e35100 !important;
}

.cart .alt {
    height: 479px !important;
    padding: 10px !important;
}

.alt {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    flex-wrap: wrap;
    height: 555px;
    padding: 20px 10px;
    overflow-y: scroll;
}

/* info */
.info-ust {
    height: 60px;
    overflow: hidden;
    padding: 0 40px;
    border-bottom: 2px solid #e35100 !important;
}

.info-alt {
    display: flex;
    padding: 30px 40px;
}

.info-img {
    border: 1px solid #e55d14;
    padding: 70px 20px;
    width: 35%;
    height: min-content;
}

.info-img img {
    width: 298px;
    height: 360px;
}

.info-txt {
    display: flex;
    width: 65%;
    flex-wrap: wrap;
}

.info-txt-ust,
.info-txt-alt {
    padding-left: 50px;
    width: 100%;
    height: fit-content;
}

.info-txt-alt hr {
    /* margin: 16px 0 !important; */
    border-top: 2px dashed #e4570a !important;
}

.info-about {
    height: 215px;
    overflow-y: scroll;
}

.info-about::-webkit-scrollbar {
    display: none;
}

.quantity-button {
    width: 40px;
    height: 40px;
    color: #a0a0a0;
}

.product-quantity {
    width: 45px;
}

.show-brands:hover {
    color: #e4570a !important;
}

/* nav */
nav a,
nav button {
    position: relative;
}

nav a::before,
nav button::before {
    content: "";
    position: absolute;
    height: 2px;
    background-color: white;
    width: 0;
    bottom: 0;
    left: 50%;
}

nav a:hover::before,
nav button:hover::before {
    left: 0;
    width: 100%;
    transition: 0.5s;
}

/*slide */
.slide,
.brands {
    position: relative;
}

.slide .swiper {
    width: 100%;
    /* height: 532px; */
}

.slide .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* main */
section {
    background-image: url(/img/bg1.png);
    background-repeat: no-repeat;
    background-size: cover;
}

/* brands */

.brands .swiper {
    width: 100%;
    height: 100%;
}

.brands .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* goods */
.review {
    height: 25px;
    font-size: 12px !important;
}

.review p {
    margin-bottom: 1px;
}

.img {
    height: 230px;
}

.fv {
    width: 35px;
    height: 35px;
    border: none;
    background-color: #f2f2f2;
    position: absolute;
    top: 15px;
    right: 15px;
}

.gds {
    width: 19%;
    position: relative;
}

.gds:hover {
    box-shadow: 0 0 10px rgb(207, 207, 207);
}

.gds-info {
    height: 35px;
    overflow: hidden;
}


.remove-cart {
    border-radius: 0 !important;
    width: 80px;
}

/* discount */
.discount .swiper {
    width: 100%;
    height: 100%;
}

.discount .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}



.swiper-button-prev,
.swiper-button-next {
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #e4570a;
    background-color: rgba(248, 259, 259, 0.9);
    border-radius: 0 !important;
}

.swiper-button-prev {
    left: 0;
}

.swiper-button-next {
    right: 0;
}

/* footer */
footer {
    background-color: #f8f9f9 !important;
}

footer .top a,
footer .top p {
    color: #494949 !important;
    font-size: 14px;
}

footer ul {
    color: #a0a0a0 !important;
    font-size: 14px;
    padding: 15px;
}

footer ul li {
    margin-bottom: 10px;
}

.icon a {
    width: 45px;
    height: 45px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(226, 226, 226, 0.748);
    margin-right: 10px;
    border-radius: 3px;
}

.icon a:hover {
    background-color: #e55d14;
    border: 1px solid #e55d14;

}

.icon a:hover i {
    color: white !important;
}

.top input {
    background-color: white;
    font-size: 14px;
    padding: 12px 0 12px 20px;
    border: 1px solid rgba(226, 226, 226, 0.748);
    width: 70%;
    outline: none;
}

.top button {
    background-color: #e55d14;
    width: 30%;
    color: white;
    border: 1px solid #e55d14;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}

.top li:hover a {
    color: #f4711f !important;
}

.top li:hover {
    color: #e35100 !important;
}

/* bottom */
footer .bottom {
    background: radial-gradient(circle at 50% 50%, #e4570a 0, #fa7c27 100%);
    padding: 20px 0;
}

.footer-img {
    max-height: 33px;
    max-width: 100%;
    padding: 0 2px;
}

@media(max-width:768px) {

    /* header */
    .top-bar {
        display: none !important;
    }

    nav {
        display: none !important;
    }

    .header-fix {
        position: fixed !important;
        display: block !important;
        padding: 0 !important;
    }

    .header-fix .container {
        padding: 9px 20px !important;
    }

    .header-fix .h2 {
        margin: 0 !important;
    }

    section {
        padding-top: 46.16px !important;
    }

    .px-5 {
        padding: 0 5px 8px !important;
    }

    .slide .swiper {
        width: 100% !important;
        height: 170px !important;
    }

    .swiper-button-prev,
    .swiper-button-next {
        width: 30px !important;
        height: 30px !important;
    }

    .swiper-button-prev::after,
    .swiper-button-next::after {
        font-size: 16px !important;
    }

    .container {
        margin: 0 !important;
        padding: 20px 20px 0 !important;
        justify-content: space-around !important;
    }

    .search-p {
        display: none !important;
    }

    .sag {
        width: fit-content !important;
        margin-left: auto !important;
    }

    .sol {
        width: fit-content !important;
    }

    .sag i {
        margin-left: 10px !important;
        font-size: 18px !important;
    }

    .sol .nav-link {
        font-size: 18px !important;
        margin-right: 10px !important;
    }

    .dropdown-item {
        font-size: 12px !important;
    }

    .gds {
        width: 30% !important;
    }

    .gds .img {
        height: unset !important;
    }

    .gds .txt {
        padding: 0 !important;
    }

    /* .img img {
        width: 100px !important;
    } */

    .review {
        height: unset !important;
        margin-bottom: 0 !important;
        font-size: 6px !important;
    }

    .info .review {
        padding: 5px 0 10px !important;
    }

    .quantity-arena button {
        width: unset !important;
        height: unset !important;
        padding: 0 7px !important;
    }

    .fa-add:before,
    .fa-plus:before,
    .fa-minus:before,
    .product-quantity,
    .quantity-arena .remove-cart i {
        font-size: 10px !important;
    }

    .info-txt-ust .h1 {
        font-size: 20px !important;
    }

    .gds .review p {
        margin-left: 4px !important;
        font-size: 9px !important;
    }

    .fs-7 {
        font-size: 12px !important;
    }

    .py-5 {
        padding: 16px 0 !important;
    }

    .fv {
        width: 17px !important;
        height: 17px !important;
        top: 10px !important;
        right: 10px !important;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .add-favorite {
        font-size: 10px !important;
    }

    .gds-info {
        height: 30px !important;
    }

    .gds span {
        display: flex;
        font-size: 10px !important;
    }

    .favorites,
    .cart,
    .info,
    .brands-info {
        padding: 15px !important;
    }

    .brands .rounded {
        padding: 10px 0 !important;
    }

    .brands .swiper-slide {
        width: 35px !important;
    }

    .brand-info {
        padding: 5px !important;
        display: block !important;
    }

    .brand-img {
        width: 100% !important;
    }

    .brand-img img {
        width: 100px !important;
        height: 100px !important;
    }

    .brand-txt {
        font-size: 12px !important;
        padding: 5px 10px !important;
        width: 100% !important;
        height: 130px !important;
    }

    .item {
        width: 100% !important;
    }

    .ust {
        padding: 10px 20px !important;
    }

    .alt {
        height: 526px !important;
    }

    .cart .alt {
        height: 447px !important;
    }

    .price-div {
        padding: 15px !important;
    }

    .info-ust {
        padding: 0 20px !important;
    }

    .info-ust h4 {
        font-size: 16px !important;
    }

    .info-alt {
        padding: 20px 15px !important;
        position: relative !important;
    }

    .info-img {
        padding: 0 !important;
        width: min-content !important;
    }

    .info-img img {
        width: 150px !important;
        height: 150px !important;
    }

    .info-txt {
        width: 60% !important;
    }

    .info-txt-alt {
        position: absolute !important;
        left: 0 !important;
        bottom: -163% !important;
        padding: 0 15px !important;
    }

    .info-about {
        height: 180px !important;
        padding-right: 0 !important;
        font-size: 13px !important;
    }

    .info-txt-ust {
        padding-left: 20px !important;
    }

    .mx-7 {
        margin: 24px 20px !important;
    }

    .container-items {
        display: block !important;
    }

    .container-item {
        width: 100% !important;
        text-align: center !important;
        margin-bottom: 10px !important;
    }

    footer {
        padding-top: 24px !important;
    }

    .top {
        padding-bottom: 24px !important;
    }

    footer .top a,
    footer .top p,
    footer ul {
        font-size: 12px !important;
    }

    .fs-5 {
        font-size: 16px !important;
    }

    .top .col-lg-3,
    .top .col-lg-4 {
        width: 50% !important;
    }

    .footer-img {
        max-height: 31px !important;
    }

    .bottom {
        padding: 0 0 20px !important;
    }
}